<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mesto</title>
</head>

<body class="root">

    <header class="header">
        <a href="#"><img class="header__logo" src="<%= require('./images/logo.svg')%>" alt="логотип Место Россия"></a>
    </header>

    <main class="content">

        <section class="profile">
            <div class="profile__details">
                <img class="profile__pic" src="<%= require('./images/profile-pic.jpg')%>"
                    alt="улыбающийся мучжчина в красной шапке на фоне моря">
                <h1 class="profile__name">Жак-Ив Кусто</h1>
                <p class="profile__bio">Исследователь океана</p>
                <button type="button" class="profile__edit-button button"></button>
            </div>
            <button type="button" class="profile__add-button button"></button>
        </section>

        <section class="gallery" aria-label="Фото галерея">
            <template id="image-template">
                <div class="gallery__item">
                    <img class="gallery__image" src="#" alt="фото">
                    <div class="gallery__item-remove-button button"></div>
                    <div class="gallery__caption">
                        <h2 class="gallery__item-name"></h2>
                        <button type="button" class="gallery__like-button"></button>
                    </div>
                </div>
            </template>
        </section>

    </main>

    <footer class="footer">
        <p>© 2020 Mesto Russia</p>
    </footer>

    <section class="pop-up pop-up_profile">
        <div class="pop-up__container">
            <button type="button" class="pop-up__close-button button pop-up__close-button_profile"></button>
            <div class="pop-up__form pop-up__form_profile">
                <h3 class="pop-up__title">Редактировать профиль</h3>
                <form name="name-bio" class="name-bio" novalidate>
                    <input class="pop-up__input pop-up__input_name" type="text" id="name" name="name" minlength="2"
                        maxlength="40" required>
                    <span class="pop-up__error-message" id="name-error"></span>
                    <input class="pop-up__input pop-up__input_bio" type="text" id="bio" name="bio" minlength="2"
                        maxlength="200" required>
                    <span class="pop-up__error-message" id="bio-error"></span>
                    <button class="pop-up__save-button button" type="submit">Сохранить</button>
                </form>
            </div>
        </div>
    </section>

    <section class="pop-up pop-up_add-image">
        <div class="pop-up__container">
            <button type="button" class="pop-up__close-button button pop-up__close-button_image"></button>
            <div class="pop-up__form pop-up__form_image">
                <h3 class="pop-up__title">Новое место</h3>
                <form name="image-form" class="image-form" novalidate>
                    <input class="pop-up__input pop-up__input_image-name" type="text" id="image-name" name="image-name"
                        placeholder="Название" required minlength="2" maxlength="30">
                    <span class="pop-up__error-message" id="image-name-error"></span>
                    <input class="pop-up__input pop-up__input_image-link" type="url" id="image-link" name="image-link"
                        placeholder="Ссылка на картинку" required>
                    <span class="pop-up__error-message" id="image-link-error"></span>
                    <button class="pop-up__save-button button" type="submit">Создать</button>
                </form>
            </div>
        </div>
    </section>

    <section class="pop-up pop-up_image-view" aria-label="Просмотр фото">
        <div class="image-view">
            <button type="button" class="pop-up__close-button button pop-up__close-button_image-view"></button>
            <img class="image-view__image" alt="фото" src="#">
            <p class="image-view__name"></p>
        </div>
    </section>

</body>

</html>